{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <form method="POST" novalidate>
    {% csrf_token %}

    <div class="form-group">
      <label for="id_ncm">

        <span class="required">equipamento </span>

      </label>
      <input type="text" name="equipamento" maxlength="8" class="form-control" required id="id_equipamento">

    </div>

    <div class="form-group">
      <label for="id_grandeza">

        <span class="required">grandeza </span>

      </label>
      <input type="text" name="grandeza" maxlength="100" class="form-control" required id="id_grandeza">

    </div>

    <div class="form-group">
      <label for="id_chave_a">

        <span class="required">chave_a </span>

      </label>
      <input type="number" name="chave_a" step="0.01" class="form-control" required id="id_chave_a">

    </div>

    <div class="form-group">
      <label for="id_chave_a">

        <span class="required">chave_a </span>

      </label>
      <input type="number" name="chave_a" step="0.01" class="form-control" required id="id_chave_a">

    </div>


    <div class="form-group">
      <label for="id_chave_b">

        <span class="required">chave_b </span>

      </label>
      <input type="number" name="chave_b" step="0.01" class="form-control" required id="id_chave_b">

    </div>


    <div class="form-group">
      <label for="id_chave_c">

        <span class="required">chave_c </span>

      </label>
      <input type="number" name="chave_c" step="0.01" class="form-control" required id="id_chave_c">

    </div>


   
    <div class="form-group">
      <label for="id_estoque_minimo">

        <span class="required">Estoque mínimo </span>

      </label>
      <input type="number" name="estoque_minimo" value="0" min="0" class="form-control" required id="id_estoque_minimo">

    </div>

    <div class="form-group">
      <label for="id_ultima_leitura">

        <span class="required">ultima_leitura </span>

      </label>
      <input type="number" name="ultima_leitura" step="0.01" class="form-control" required id="id_ultima_leitura">

    </div>
    <div class="form-group">
      <label for="id_leitura_anterior">

        <span class="required">ultima_leitura </span>

      </label>
      <input type="number" name="ultima_leitura" step="0.01" class="form-control" required id="id_ultima_leitura">

    </div>

    <div class="form-group">
      <label for="id_diferenca">

        <span class="required">diferenca </span>

      </label>
      <input type="number" name="diferenca" step="0.01" class="form-control" required id="id_diferenca">

    </div>

    <div class="form-group">
      <label for="id_perc_diferenca">

        <span class="required">perc_diferenca </span>

      </label>
      <input type="number" name="perc_diferenca" step="0.01" class="form-control" required id="id_perc_diferenca">

    </div>
    <div class="form-group">
      <label for="id_situacao">

        <span class="required"> <div class="form-group">
          <label for="id_perc_diferenca">
    
            <span class="required">perc_diferenca </span>
    
          </label>
          <input type="number" name=" <div class="form-group">
            <label for="id_perc_diferenca">
      
              <span class="required">perc_diferenca </span>
      
            </label>
            <input type="number" name="perc_diferenca" step="0.01" class="form-control" required id="id_ <div class="form-group">
              <label for="id_perc_diferenca">
        
                <span class="required">perc_diferenca </span>
        
              </label>
              <input type="number" name="perc_diferenca" step="0.01" class="form-control" required id="id_perc_diferenca">
        
            </div>">
      
          </div>" step="0.01" class="form-control" required id="id_perc_diferenca">
    
        </div> </span>

      </label>
      <input type="number" name="perc_diferenca" step="0.01" class="form-control" required id="id_perc_diferenca">

    </div>

    
    <button type="submit" class="btn btn-success">Cadastrar</button>
  </form>

{% endblock content %}

{% block js %}

  <script src="{% static 'js/produto.js' %}"></script>

{% endblock js %}
